<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header" >
</header>

<section class="page-content-kandidaten-suche-ergebnis" th:if="${kandidaten}">
    <div th:fragment="tw-page-content-kandidaten">
        <div class="container tw-page-content tw-page-content-kandidaten">
            <div class="row">
                <div class="col-md-12">
                <span  class="tw-pager-arrow tw-pager-up" th:if="${kandidaten.hasPrevious()}">
                    <a href="" th:href="@{|${pageContent.pagerUrl}?page=${kandidaten.previousPageable().pageNumber}|}">
                        <span>
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
                </div>
            </div>
            <div class="row" th:include="layoutMain :: tw-page-content-kandidaten-table">
            </div>
            <div class="row">
                <div class="col-md-12">
                <span class="tw-pager-arrow tw-pager-down" th:if="${kandidaten.hasNext()}">
                    <a href="" th:href="@{|${pageContent.pagerUrl}?page=${kandidaten.nextPageable().pageNumber}|}" >
                        <span>
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
                </div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <div class="tw-page-content tw-page-content-login">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <form action="#" th:action="@{/suche/formular}" th:object="${suchformular}" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label for="vorname-input" class="col-sm-2 control-label">Vorname:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{vorname}" type="text" name="vorname" id="vorname-input" class="form-control" placeholder="Vorname"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nachname-input" class="col-sm-2 control-label">Nachname:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{nachname}" type="text" name="nachname" id="nachname-input" class="form-control" placeholder="Nachname"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="geburtsjahr-min-input" class="col-sm-2 control-label">Geburtsjahr:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{geburtsjahr}" name="geburtsjahr[0]" id="geburtsjahr-min-input" class="form-control">
                                        <option value="0" >Alle</option>
                                        <option th:text="${geburtsjahr}" th:value="${geburtsjahr}" th:each="geburtsjahr : ${geburtsjahre}">geburtsjahr</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wohnort-input" class="col-sm-2 control-label">Wohnort:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{wohnort}" type="text" name="wohnort" id="wohnort-input" class="form-control" placeholder="Wohnort"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="geburtsort-input" class="col-sm-2 control-label">Geburtsort:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{geburtsort}" type="text" name="geburtsort" id="geburtsort-input" class="form-control" placeholder="Geburtsort"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="beruf-input" class="col-sm-2 control-label">Beruf:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{beruf}" type="text" name="beruf" id="beruf-input" class="form-control" placeholder="Beruf"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="berufsgruppe-input" class="col-sm-2 control-label">Berufsgruppe:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{berufsgruppe}" name="beruf" id="berufsgruppe-input" class="form-control">
                                        <option value="0" >Alle</option>
                                        <option th:text="${berufsgruppe.name}" th:value="${berufsgruppe.id}" th:each="berufsgruppe : ${berufsgruppen}">berufsgruppe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="berufsgruppe-input" class="col-sm-2 control-label">Bundesland:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{bundesland}" name="berufsgruppe" id="berufsgruppe-input" class="form-control">
                                        <option value="0" >Alle</option>
                                        <option th:text="${bundesland.name}" th:value="${bundesland.id}" th:each="bundesland : ${bundeslaender}">Bundesland</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="landesliste-input" class="col-sm-2 control-label">LandesListe:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{landesListe}" name="landesliste" id="landesliste-input" class="form-control">
                                        <option value="0" >Alle</option>
                                        <option th:text="${landesListe.name}" th:value="${landesListe.id}" th:each="landesListe : ${landesListen}">landesListe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="partei-input" class="col-sm-2 control-label">Partei:</label>
                                <div class="col-sm-10">
                                    <select th:field="*{partei}" name="partei" id="partei-input" class="form-control">
                                        <option value="0" >Alle</option>
                                        <option th:text="${partei.name}" th:value="${partei.id}" th:each="partei : ${parteien}">partei</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-primary form-control">Suche</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >

</footer>
</body>
</html>