<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>

<main class="page-content">
    <div class="tw-page-content tw-page-content-impressum">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Bundestagswahl 2017</h2>
                        <hr/>
                        <h3>Alle 2559 Direktkandidaten</h3>
                        <p>
                        Die Anwendung basiert auf den <a href="https://www.bundeswahlleiter.de/dam/jcr/4d632553-d0be-4a4a-acde-5bb985a6302c/btw17_kandidaten.zip" target="_blank">Daten des Bundeswahlleiters</a> zu allen zugelassenen Kandidaten.
                        Die offiziellen Angaben zu Namen (inklusive Zweitnamen), Beruf sowie Wohn- und Geburtsort wurden exakt übernommen.
                        Bei der Angabe des Alters kann es zu Abweichungen kommen, da dies lediglich auf Grundlage des Geburtsjahres errechnet wurde.
                        </p>
                        <hr/>
                        <h3>Software-Entwicklung und -Integration von Thomas Wöhlke</h3>
                        <ul>
                            <li><i class="fa fa-twitter" aria-hidden="true"></i> Twitter: <a href="https://twitter.com/ThomasWoehlke" target="_blank">@ThomasWoehlke</a></li>
                            <li><i class="fa fa-chrome" aria-hidden="true"></i> Blog: <a href="https://thomas-woehlke.blogspot.de/" target="_blank">https://thomas-woehlke.blogspot.de/</a></li>
                            <li><i class="fa fa-github" aria-hidden="true"></i> Github: <a href="https://github.com/phasenraum2010/btw17kandidaten" target="_blank">https://github.com/phasenraum2010/btw17kandidaten</a></li>
                            <li><i class="fa fa-paypal" aria-hidden="true"></i> Paypal: <a href="https://www.paypal.me/ThomasWoehlke" target="_blank">https://www.paypal.me/ThomasWoehlke</a></li>
                        </ul>
                        <hr/>
                        <h3>public BETA</h3>
                        <ul>
                            <li>Einige Informationen werden aktuell noch manuell gesammelt und sukzessive bereit gestellt.</li>
                            <li>Einige Funktionen der Software werden aktuell noch weiter entwickelt und sukzessive bereit gestellt</li>
                            <li>Die Daten können Inkonsistenzen oder Fehler enthalten.</li>
                            <li>Die Funktionen der Software können Inkonsistenzen oder Fehler enthalten.</li>
                            <li>Sie können Fehler bei Daten oder Software-Funktionen melden unter:  <a href="https://github.com/phasenraum2010/btw17kandidaten/issues" target="_blank">https://github.com/phasenraum2010/btw17kandidaten/issues</a></li>
                            <li>Das Hosting bei <a href="https://heroku.com/" target="_blank">Heroku</a> ist der kleinste, kostenlose, Tarif. Das kann je nach Anzahl der Besucher langsam werden. Kostenpflichtige Upgrades mit extremer Skalierung sind durch Sponsoring zeitnah möglich.</li>
                            <li>Das Hosting bei <a href="https://heroku.com/" target="_blank">Heroku</a> ist in Europa, nicht in den USA.</li>
                        </ul>
                        <hr/>
                        <h3>Technologie:</h3>
                        <ul>
                            <li>btw17 Frontend is built on <a href="https://getbootstrap.com/docs/3.3/" target="_blank">[bootstrap]</a></li>
                            <li>These include icons from <a href="http://glyphicons.com/" target="_blank">[Glyphicons]</a> and web fonts from <a href="http://www.google.com/webfonts/" target="_blank">[Google-webfonts]</a>.</li>
                            <li>JavaScript goodies with <a href="http://jquery.org" target="_blank">[jquery]</a>.</li>
                            <li>More icons by <a href="http://fontawesome.io/icons/" target="_blank">[fontawesome].</a></li>
                            <li>Google Maps JavaScript API <a href="https://developers.google.com/maps/documentation/javascript/" target="_blank">[google-maps-javascript-api]</a></li>
                            <li>Google Analytics <a href="https://analytics.google.com/analytics/web/" target="_blank">[google-analytics]</a></li>
                            <li>Serverside is made with <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html" target="_blank">[java]</a> and <a href="https://projects.spring.io/spring-boot/" target="_blank">[Spring-Boot]</a>.</li>
                            <li>Spring Frameworks used: <a href="http://projects.spring.io/spring-framework/" target="_blank">[spring-web-mvc]</a> <a href="http://projects.spring.io/spring-data-jpa/" target="_blank">[spring-data-jpa]</a>, <a href="http://projects.spring.io/spring-security/" target="_blank">[spring-security]</a></li>
                            <li>HTML Templating: <a href="http://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html">[Thymeleaf]</a></li>
                            <li>Database <a href="https://www.postgresql.org/">[PostgreSQL]</a> and jdbc by <a href="https://jdbc.postgresql.org/">[PostgreSQL-JDBC]</a>.</li>
                            <li>Continous Integration: <a href="https://travis-ci.org/" target="_blank">[Travis-CI]</a></li>
                            <li>Scalable Operating on Cloud-Service in Zone EU <a href="https://heroku.com/" target="_blank">[Heroku]</a> with <a href="https://devcenter.heroku.com/categories/heroku-postgres/" target="_blank">[Heroku PostegreSQL]</a>.</li>
                            <li>IDE <a href="https://www.jetbrains.com/idea/" target="_blank">IntelliJ IDEA</a></li>
                        </ul>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<script>
    function initMap() {}
</script>
<div th:include="layoutMain :: tw-footer">
</div>
</body>
</html>
