<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">

                    <span th:if="${fraktion.onlineStrategie}">

                    <a class="tw-social-media-link" th:if="${fraktion.onlineStrategie.webseite}" th:href="${fraktion.onlineStrategie.webseite}" alt="Webseite" title="Webseite" target="_blank">
                        <i class="fa fa-cloud" aria-hidden="true"></i>
                    </a>

                    <a class="tw-social-media-link" th:if="${fraktion.onlineStrategie.twitter}" th:href="${fraktion.onlineStrategie.twitter}" alt="Twitter" title="Twitter" target="_blank">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>

                    <a class="tw-social-media-link" th:if="${fraktion.onlineStrategie.facebook}" th:href="${fraktion.onlineStrategie.facebook}" alt="Facebook" title="Facebook" target="_blank">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>

                    <a class="tw-social-media-link" th:if="${fraktion.onlineStrategie.youtube}" th:href="${fraktion.onlineStrategie.youtube}" alt="YouTube" title="YouTube" target="_blank">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>

                    <a class="tw-social-media-link" th:if="${fraktion.onlineStrategie.wikipediaArticle}" th:href="${fraktion.onlineStrategie.wikipediaArticle}" alt="Wikipedia" title="Wikipedia" target="_blank">
                        <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                    </a>

                    <a class="tw-social-media-link" th:if="${fraktion.onlineStrategie.bundestagAbgeordnete}" th:href="${fraktion.onlineStrategie.bundestagAbgeordnete}" alt="Bundestag" title="Bundestag" target="_blank">
                        <i class="fa fa-university" aria-hidden="true"></i>
                    </a>

                    <a class="tw-social-media-link" th:if="${fraktion.onlineStrategie.abgeordnetenwatch}" th:href="${fraktion.onlineStrategie.abgeordnetenwatch}" alt="Abgeordnetenwatch" title="Abgeordnetenwatch" target="_blank">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>

                    </span>

                </div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <div th:include="layoutMain :: tw-page-content-kandidaten">
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<script>
    function initMap() {}
</script>
<div th:include="layoutMain :: tw-footer">
</div>
</body>
</html>