<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">

                    <span th:if="${bundesland.webseite}">
                        <span th:if="${bundesland.webseite.webseite}">
                            <a class="tw-social-media-link" th:href="${bundesland.webseite.webseite}" alt="Webseite" title="Webseite" target="_blank">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </span>
                    </span>

                    <span th:if="${bundesland.onlineStrategie}">

                        <span th:if="${bundesland.onlineStrategie.twitter != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.twitter}" alt="Twitter" title="Twitter" target="_blank">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.facebook != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.facebook}" alt="Facebook" title="Facebook" target="_blank">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.youtube != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.youtube}" alt="YouTube" title="YouTube" target="_blank">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.soundcloud != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.soundcloud}" alt="Soundcloud" title="Soundcloud" target="_blank">
                                <i class="fa fa-soundcloud" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.wikipediaArticle != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.wikipediaArticle}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.bundestagAbgeordnete != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.bundestagAbgeordnete}" alt="Bundestag" title="Bundestag" target="_blank">
                                <i class="fa fa-university" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.abgeordnetenwatch != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.abgeordnetenwatch}" alt="Abgeordnetenwatch" title="Abgeordnetenwatch" target="_blank">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.lobbypediaUrl}" >
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.lobbypediaUrl}" alt="Lobbypedia" title="Lobbypedia" target="_blank">
                                <i class="fa fa-balance-scale" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.googlePlus != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.googlePlus}" alt="GooglePlus" title="GooglePlus" target="_blank">
                                <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.instagram != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.instagram}" alt="Instagram" title="Instagram" target="_blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.flickr != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.flickr}" alt="flickr" title="flickr" target="_blank">
                                <i class="fa fa-flickr" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.vimeo != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.vimeo}" alt="vimeo" title="vimeo" target="_blank">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.xing != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.xing}" alt="xing" title="xing" target="_blank">
                                <i class="fa fa-xing-square" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.linkedIn != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.linkedIn}" alt="linkedIn" title="linkedIn" target="_blank">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.stackoverflow != null}">
                            <a class="tw-social-media-link" th:href="${bundesland.onlineStrategie.stackoverflow}" alt="stackoverflow" title="stackoverflow" target="_blank">
                                <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${bundesland.onlineStrategie.github != null}">
                            <a class="tw-social-media-link" th:href="${bundeslandss.onlineStrategie.github}" alt="github" title="github" target="_blank">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </span>

                    </span>

                </div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <div class="tw-page-content tw-page-content-landesliste-bundesland">
        <div class="container" th:fragment="tw-page-content-bundeslaender">
            <div class="row">
                <div class="col-md-12">
                    <span  class="tw-pager-arrow tw-pager-up" th:if="${landeslistePage.hasPrevious()}">
                        <a href="" th:href="@{|${pageContent.pagerUrl}?page=${landeslistePage.previousPageable().pageNumber}|}">
                            <span>
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <table class="table table-striped">
                                <thead th:fragment="tw-data-view-thead">
                                <tr>
                                    <th>ID</th>
                                    <th>landesliste</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="landesliste : ${landeslistePage}">
                                    <td>
                                        <span th:fragment="tw-data-view-id">
                                            <span class="tw-vector">
                                                <a href="" th:href="@{|/${bundeslandIdTarget}/${landesliste.id}/|}">
                                                <i class="fa fa-database" aria-hidden="true"></i>
                                                <span th:text="${landesliste.id}">id</span>
                                                </a>
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <a href="" th:href="@{|/${bundeslandIdTarget}/${landesliste.id}/|}">
                                            <span th:text="${landesliste.name}">landesliste.name</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                <span class="tw-pager-arrow tw-pager-down" th:if="${landeslistePage.hasNext()}">
                    <a href="" th:href="@{|${pageContent.pagerUrl}?page=${landeslistePage.nextPageable().pageNumber}|}" >
                        <span>
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
                    </div>
                </div>
            </div>
        </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<script>
    function initMap() {}
</script>
<div th:include="layoutMain :: tw-footer">
</div>
</body>
</html>