<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>

<main class="page-content">
    <div class="tw-page-content tw-page-content-wohnorte">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="tw-pager-arrow tw-pager-up" th:if="${wohnorte.hasPrevious()}">
                        <a href="" th:href="@{|${pageContent.pagerUrl}?page=${wohnorte.previousPageable().pageNumber}|}">
                            <span>
                                <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="tw-kandidat-page-heading">
                            <h3 class="panel-title">Wohnorte</h3>
                        </div>
                        <table class="table table-striped table-hover tw-kandidat-page">
                            <thead th:fragment="tw-data-view-thead">
                                <tr>
                                    <th class="tw-debug">ID</th>
                                    <th>Wohnort</th>
                                    <th>
                                        &nbsp;&nbsp;&nbsp;
                                    </th>
                                    <th>
                                        <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="wohnort : ${wohnorte}">
                                    <td class="tw-debug">
                                        <span th:fragment="tw-data-view-id">
                                            <span class="tw-vector">
                                                <a href="" th:href="@{|/wohnort/${wohnort.id}/|}">
                                                    <i class="fa fa-database" aria-hidden="true"></i>
                                                    <span th:text="${wohnort.id}">id</span>
                                                </a>
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <a href="" th:href="@{|/wohnort/${wohnort.id}/|}">
                                            <span th:if="${wohnort.wohnort}" th:text="${wohnort.wohnort}">wohnort</span>
                                        </a>
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <span th:if="${wohnort.onlineStrategie}">
                                            <a th:if="${wohnort.onlineStrategie.wikipediaArticle}" th:href="${wohnort.onlineStrategie.wikipediaArticle}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                                <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="tw-pager-arrow tw-pager-down" th:if="${wohnorte.hasNext()}">
                        <a href="" th:href="@{|${pageContent.pagerUrl}?page=${wohnorte.nextPageable().pageNumber}|}" >
                            <span>
                            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
<section th:include="layoutMain :: tw-history-back-section" >
</section>

<script>
    function initMap() {}
</script>
<div th:include="layoutMain :: tw-footer">
</div>
</body>
</html>
