<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>

<section>
    <div class="container">
        <div class="row" th:if="${wohnort}">
            <div class="col-md-12">
                <span th:if="${wohnort.geoPosition}">
                <div class="well" th:if="${wohnort.geoPosition.googleMapsUrl}">
                    <h3>Wohnort: <span th:text="${wohnort.wohnort}">wohnort</span></h3>
                    <hr/>
                    <div id="map-wohnort"></div>
                </div>
                </span>
            </div>
        </div>
        <div class="row" th:if="${wohnort}">
            <div class="col-md-12">

                <span th:if="${wohnort.webseite}">
                    <span th:if="${wohnort.webseite.webseite}">
                        <a class="tw-social-media-link" th:href="${wohnort.webseite.webseite}" alt="Webseite" title="Webseite" target="_blank">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </a>
                    </span>
                </span>

                <blockquote th:if="${wohnort.onlineStrategie}">

                    <span th:if="${wohnort.onlineStrategie.twitter != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.twitter}" alt="Twitter" title="Twitter" target="_blank">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.facebook != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.facebook}" alt="Facebook" title="Facebook" target="_blank">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.youtube != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.youtube}" alt="YouTube" title="YouTube" target="_blank">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.soundcloud != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.soundcloud}" alt="Soundcloud" title="Soundcloud" target="_blank">
                            <i class="fa fa-soundcloud" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.wikipediaArticle != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.wikipediaArticle}" alt="Wikipedia" title="Wikipedia" target="_blank">
                            <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.bundestagAbgeordnete != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.bundestagAbgeordnete}" alt="Bundestag" title="Bundestag" target="_blank">
                            <i class="fa fa-university" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.abgeordnetenwatch != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.abgeordnetenwatch}" alt="Abgeordnetenwatch" title="Abgeordnetenwatch" target="_blank">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.lobbypediaUrl}" >
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.lobbypediaUrl}" alt="Lobbypedia" title="Lobbypedia" target="_blank">
                            <i class="fa fa-balance-scale" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.googlePlus != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.googlePlus}" alt="GooglePlus" title="GooglePlus" target="_blank">
                            <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.instagram != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.instagram}" alt="Instagram" title="Instagram" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.flickr != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.flickr}" alt="flickr" title="flickr" target="_blank">
                            <i class="fa fa-flickr" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.vimeo != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.vimeo}" alt="vimeo" title="vimeo" target="_blank">
                            <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.xing != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.xing}" alt="xing" title="xing" target="_blank">
                            <i class="fa fa-xing-square" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.linkedIn != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.linkedIn}" alt="linkedIn" title="linkedIn" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.stackoverflow != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.stackoverflow}" alt="stackoverflow" title="stackoverflow" target="_blank">
                            <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                        </a>
                    </span>

                    <span th:if="${wohnort.onlineStrategie.github != null}">
                        <a class="tw-social-media-link" th:href="${wohnort.onlineStrategie.github}" alt="github" title="github" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </span>

                </blockquote>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <div th:include="layoutMain :: tw-page-content-kandidaten">
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<script th:inline="text">
    function initMap() {
        var wohnort = {lat: [[${wohnort.geoPosition.geoLattitude}]], lng: [[${wohnort.geoPosition.geoLongitude}]]};
        var mapwohnort = new google.maps.Map(document.getElementById('map-wohnort'), {
            zoom: 8,
            center: wohnort
        });
        var markerwohnort = new google.maps.Marker({
            position: wohnort,
            map: mapwohnort
        });
    }
</script>

<div th:include="layoutMain :: tw-footer">
</div>
</body>
</html>