<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header"></header>

<main class="page-content">
    <div class="container">
        <div>
            <div class="row">
                <div class="col-md-12">
                <span  class="tw-pager-arrow tw-pager-up" th:if="${kandidaten.hasPrevious()}">
                    <a href="" th:href="@{|/kandidat/all?page=${kandidaten.previousPageable().pageNumber}|}">
                        <span>
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <table class="table table-striped tw-kandidaten-all">
                            <thead th:fragment="tw-data-view-thead">
                            <tr>
                                <th>ID</th>
                                <th>Foto</th>
                                <th>Name</th>
                                <th>Wohnort</th>
                                <th>Beruf</th>
                                <th>Partei</th>
                                <th>mdb</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="kandidat : ${kandidaten}">
                                <td>
                                <span th:fragment="tw-data-view-id">
                                    <span class="tw-vector">
                                        <a href="" th:href="@{|/kandidat/${kandidat.id}/|}">
                                        <i class="fa fa-database" aria-hidden="true"></i>
                                        <span th:text="${kandidat.id}">id</span>
                                        </a>
                                    </span>
                                </span>
                                </td>
                                <td>
                                    <img th:if="${kandidat.fotoUrl}"
                                         th:src="${kandidat.fotoUrl}"
                                         class="img-responsive img-circle"/>
                                </td>
                                <td>
                                    <a th:href="@{|/kandidat/${kandidat.id}/|}">
                                        <span class="tw-vector">
                                            <span th:if="${kandidat.titel}" th:text="${kandidat.titel}">titel</span>
                                            <span th:if="${kandidat.namenszusatz}" th:text="${kandidat.namenszusatz}">namenszusatz</span>
                                            <span th:text="${kandidat.vorname}">vorname</span>
                                            <span th:text="${kandidat.nachname}">nachname</span>
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    <span th:if="${kandidat.wohnort}" th:text="${kandidat.wohnort.wohnort}">wohnort</span>
                                </td>
                                <td>
                                    <span th:if="${kandidat.beruf}" th:text="${kandidat.beruf.beruf}">beruf</span>
                                </td>
                                <td>
                                    <abbr th:if="${kandidat.partei}" th:attr="title=${kandidat.partei.parteiLang}" th:text="${kandidat.partei.partei}">partei</abbr>
                                </td>
                                <td>
                                    <span th:text="${kandidat.mdb}">mdb</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <span class="tw-pager-arrow tw-pager-down" th:if="${kandidaten.hasNext()}">
                    <a href="" th:href="@{|/kandidat/all?page=${kandidaten.nextPageable().pageNumber}|}" >
                        <span>
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >
</footer>
</body>
</html>
