<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>


<main class="page-content">
    <div class="tw-page-content tw-page-content-kandidat-profile tw-kandidat-profile">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="well">
                        <table class="table table-striped">
                            <tr class="tw-debug">
                                <td>ID</td>
                                <td>
                                <span th:fragment="tw-data-view-id">
                                    <span class="tw-vector">
                                        <a href="" th:href="@{|/kandidat/${kandidat.id}/|}">
                                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                                        <span th:text="${kandidat.id}">id</span>
                                        </a>
                                    </span>
                                </span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th>
                                    <b>
                                        <span th:if="${kandidat.titel}" th:text="${kandidat.titel}">titel</span>
                                        <span th:if="${kandidat.namenszusatz}" th:text="${kandidat.namenszusatz}" class="tw-debug">namenszusatz</span>
                                        <span th:text="${kandidat.vorname}">vorname</span>
                                        <span th:text="${kandidat.nachname}">nachname</span>
                                    </b>
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr sec:authorize="isAuthenticated()">
                                <td>&nbsp;</td>
                                <td colspan="2"><span th:text="${kandidat.key}">key</span></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-id-card" aria-hidden="true"></i> Jahrgang</td>
                                <td>
                                    <a th:href="@{|/geburtsjahr/${kandidat.geburtsjahr}/|}">
                                        <span th:text="${kandidat.geburtsjahr}">geburtsjahr</span>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr th:if="${kandidat.bundesland != null}">
                                <td><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Bundesland</td>
                                <td>
                                    <a th:href="@{|/bundesland/${kandidat.bundesland.id}/|}">
                                        <span th:text="${kandidat.bundesland.bundeslandLang}">bundeslandLang</span>
                                        <span> (</span>
                                        <span th:text="${kandidat.bundesland.bundesland}">bundesland</span>
                                        <span>)</span>
                                    </a>
                                </td>
                                <td class="text-right">
                                    <a th:href="${kandidat.bundesland.webseite}" th:if="${kandidat.bundesland.webseite != null}" alt="Webseite" title="Webseite" target="_blank">
                                        <i class="fa fa-cloud" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.bundesland.twitter}" th:if="${kandidat.bundesland.twitter != null}" alt="Twitter" title="Twitter" target="_blank">
                                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.bundesland.facebook}" th:if="${kandidat.bundesland.facebook != null}" alt="Facebook" title="Facebook" target="_blank">
                                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>

                                    <a th:if="${kandidat.bundesland.youtube}" th:href="${kandidat.bundesland.youtube}" alt="YouTube" title="YouTube" target="_blank">
                                        <i class="fa fa-youtube" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.bundesland.wikipediaArticle}" th:if="${kandidat.bundesland.wikipediaArticle != null}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                        <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${kandidat.geburtsort != null}">
                                <td><i class="fa fa-map-marker" aria-hidden="true"></i> Geburtsort</td>
                                <td>
                                    <a th:href="@{|/geburtsort/${kandidat.geburtsort.id}/|}">
                                        <span th:text="${kandidat.geburtsort.geburtsort}">Geburtsort</span>
                                    </a>
                                </td>
                                <td class="text-right">
                                    <a th:href="${kandidat.geburtsort.webseite}" th:if="${kandidat.geburtsort.webseite != null}" alt="Webseite" title="Webseite" target="_blank">
                                        <i class="fa fa-cloud" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.geburtsort.wikipediaArticle}" th:if="${kandidat.geburtsort.wikipediaArticle != null}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                        <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${kandidat.wohnort != null}">
                                <td><i class="fa fa-map-marker" aria-hidden="true"></i> Wohnort</td>
                                <td>
                                    <a th:href="@{|/wohnort/${kandidat.wohnort.id}/|}">
                                        <span th:text="${kandidat.wohnort.wohnort}">wohnort</span>
                                    </a>
                                </td>
                                <td class="text-right">
                                    <a th:href="${kandidat.wohnort.webseite}" th:if="${kandidat.wohnort.webseite != null}" alt="Webseite" title="Webseite" target="_blank">
                                        <i class="fa fa-cloud" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.wohnort.facebook}" th:if="${kandidat.wohnort.facebook != null}" alt="Facebook" title="Facebook" target="_blank">
                                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.wohnort.wikipediaArticle}" th:if="${kandidat.wohnort.wikipediaArticle != null}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                        <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${kandidat.beruf != null}">
                                <td><i class="fa fa-cubes" aria-hidden="true"></i> Beruf</td>
                                <td>
                                    <a th:href="@{|/beruf/${kandidat.beruf.id}/|}">
                                        <span th:text="${kandidat.beruf.beruf}">beruf</span>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr th:if="${kandidat.berufsgruppe != null}">
                                <td><i class="fa fa-graduation-cap" aria-hidden="true"></i> Berufsgruppe</td>
                                <td>
                                    <a th:href="@{|/berufsgruppe/${kandidat.berufsgruppe.id}/|}">
                                        <span th:text="${kandidat.berufsgruppe.berufsgruppe}">berufsgruppe</span>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr th:if="${kandidat.partei != null}">
                                <td><i class="fa fa-empire" aria-hidden="true"></i> Partei</td>
                                <td>
                                    <a th:href="@{|/partei/${kandidat.partei.id}/|}">
                                        <abbr th:attr="title=${kandidat.partei.parteiLang}" th:text="${kandidat.partei.partei}">partei</abbr>
                                    </a>
                                </td>
                                <td class="text-right">
                                    <a th:href="${kandidat.partei.webseite}" th:if="${kandidat.partei.webseite != null}" alt="Webseite" title="Webseite" target="_blank">
                                        <i class="fa fa-cloud" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.partei.twitter}" th:if="${kandidat.partei.twitter != null}" alt="Twitter" title="Twitter" target="_blank">
                                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.partei.facebook}" th:if="${kandidat.partei.facebook != null}" alt="Facebook" title="Facebook" target="_blank">
                                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>

                                    <a th:if="${kandidat.partei.youtube}" th:href="${kandidat.partei.youtube}" alt="YouTube" title="YouTube" target="_blank">
                                        <i class="fa fa-youtube" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.partei.wikipediaArticle}" th:if="${kandidat.partei.wikipediaArticle != null}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                        <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.partei.bundeszentralePolitischeBildung}" th:if="${kandidat.partei.bundeszentralePolitischeBildung != null}" alt="Bundeszentrale Politische Bildung" title="Bundeszentrale Politische Bildung" target="_blank">
                                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                                    </a>

                                    <a th:href="${kandidat.partei.lobbypediaUrl}" th:if="${kandidat.partei.lobbypediaUrl != null}" alt="LobbypediaUrl" title="Lobbypedia" target="_blank">
                                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${kandidat.landesListe != null} AND ${kandidat.listePlatz != null}">
                                <td><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Landesliste </td>
                                <td>
                                    <a th:href="@{|/landesliste/${kandidat.landesListe.id}/|}">
                                        <span th:text="${kandidat.landesListe.name}">landesListe</span>
                                        <span>, Listenplatz:</span>
                                        <span th:text="${kandidat.listePlatz}"></span>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr th:if="${kandidat.mdb != null}">
                                <td><i class="fa fa-university" aria-hidden="true"></i> MdB</td>
                                <td>
                                    <a th:if="${kandidat.mdb}" href="/mdb/all" th:href="@{/mdb/all}">
                                        <i th:if="${kandidat.mdb == '1'}" class="fa fa-university" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="2">

                                    <a class="tw-social-media-link" th:if="${kandidat.webseite}" th:href="${kandidat.webseite}" alt="Webseite" title="Webseite" target="_blank">
                                        <i class="fa fa-cloud" aria-hidden="true"></i>
                                    </a>

                                    <a class="tw-social-media-link" th:if="${kandidat.twitter}" th:href="${kandidat.twitter}" alt="Twitter" title="Twitter" target="_blank">
                                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>

                                    <a class="tw-social-media-link" th:if="${kandidat.facebook}" th:href="${kandidat.facebook}" alt="Facebook" title="Facebook" target="_blank">
                                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                    </a>

                                    <a class="tw-social-media-link" th:if="${kandidat.youtube}" th:href="${kandidat.youtube}" alt="YouTube" title="YouTube" target="_blank">
                                        <i class="fa fa-youtube" aria-hidden="true"></i>
                                    </a>

                                    <a class="tw-social-media-link" th:if="${kandidat.soundcloud}" th:href="${kandidat.soundcloud}" alt="Soundcloud" title="Soundcloud" target="_blank">
                                        <i class="fa fa-soundcloud" aria-hidden="true"></i>
                                    </a>

                                    <a class="tw-social-media-link" th:if="${kandidat.wikipediaArticle}" th:href="${kandidat.wikipediaArticle}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                        <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                    </a>

                                    <a class="tw-social-media-link" th:if="${kandidat.bundestagAbgeordnete}" th:href="${kandidat.bundestagAbgeordnete}" alt="Bundestag" title="Bundestag" target="_blank">
                                        <i class="fa fa-university" aria-hidden="true"></i>
                                    </a>

                                    <a class="tw-social-media-link" th:if="${kandidat.abgeordnetenwatch}" th:href="${kandidat.abgeordnetenwatch}" alt="Abgeordnetenwatch" title="Abgeordnetenwatch" target="_blank">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>

                                    <a class="tw-social-media-link" th:if="${kandidat.lobbypediaUrl}" th:href="${kandidat.lobbypediaUrl}" alt="Lobbypedia" title="Lobbypedia" target="_blank">
                                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                    </a>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <img th:if="${kandidat.fotoUrl}"
                         th:src="${kandidat.fotoUrl}"
                         class="img-responsive img-thumbnail"/>
                </div>
            </div>
            <div class="row" sec:authorize="isAuthenticated()">
                <div class="col-md-12">
                    <div class="well">

                        <form action="#" th:action="@{|/kandidat/edit/${kandidat.id}|}" th:object="${kandidat}" method="post" class="form-horizontal">

                            <input type="hidden" th:field="*{key}" />
                            <input type="hidden" th:field="*{remoteKey}" />
                            <input type="hidden" th:field="*{titel}" />
                            <input type="hidden" th:field="*{namenszusatz}" />
                            <input type="hidden" th:field="*{nachnameOhne}" />
                            <input type="hidden" th:field="*{nachname}" />
                            <input type="hidden" th:field="*{vorname}" />
                            <input type="hidden" th:field="*{geschlecht}" />
                            <input type="hidden" th:field="*{geburtsjahr}" />
                            <input type="hidden" th:field="*{alter}" />
                            <input type="hidden" th:field="*{listePlatz}" />
                            <input type="hidden" th:field="*{mdb}" />
                            <input type="hidden" th:field="*{lat}" />
                            <input type="hidden" th:field="*{lng}" />
                            <input type="hidden" th:field="*{idEigen}" />
                            <input type="hidden" th:field="*{foto}" />
                            <input type="hidden" th:field="*{scatterX}" />
                            <input type="hidden" th:field="*{scatterY}" />
                            <input type="hidden" th:field="*{color}" />
                            <input type="hidden" th:field="*{googleMapsUrl}" />
                            <input type="hidden" th:field="*{logoUrl}" />

                            <div class="form-group">
                                <label for="fotourl-input" class="col-sm-2 control-label">fotoUrl:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{fotoUrl}" type="text" name="fotourl" id="fotourl-input" class="form-control" placeholder="fotoUrl"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="webseite-input" class="col-sm-2 control-label">webseite:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{webseite}" type="text" name="webseite" id="webseite-input" class="form-control" placeholder="webseite"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="twitter-input" class="col-sm-2 control-label">twitter:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{twitter}" type="text" name="twitter" id="twitter-input" class="form-control" placeholder="twitter"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="facebook-input" class="col-sm-2 control-label">facebook:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{facebook}" type="text" name="facebook" id="facebook-input" class="form-control" placeholder="facebook"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="soundcloud-input" class="col-sm-2 control-label">soundcloud:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{soundcloud}" type="text" name="soundcloud" id="soundcloud-input" class="form-control" placeholder="soundcloud"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="wikipedia-article-input" class="col-sm-2 control-label">wikipediaArticle:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{wikipediaArticle}" type="text" name="fotourl" id="wikipedia-article-input" class="form-control" placeholder="wikipediaArticle"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="abgeordnetenwatch-input" class="col-sm-2 control-label">abgeordnetenwatch:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{abgeordnetenwatch}" type="text" name="fotourl" id="abgeordnetenwatch-input" class="form-control" placeholder="abgeordnetenwatch"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="bundestag-abgeordnete-input" class="col-sm-2 control-label">bundestagAbgeordnete:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{bundestagAbgeordnete}" type="text" name="fotourl" id="bundestag-abgeordnete-input" class="form-control" placeholder="bundestagAbgeordnete"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lobbypedia-input" class="col-sm-2 control-label">lobbypediaUrl:</label>
                                <div class="col-sm-10">
                                    <input th:field="*{lobbypediaUrl}" type="text" name="lobbypedia" id="lobbypedia-input" class="form-control" placeholder="lobbypedia"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-primary form-control">Bearbeiten</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >
</footer>
</body>
</html>
