<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header"></header>

<main class="page-content">
    <div class="container tw-kandidat-profile">
        <div>
            <div class="row">
                <div class="col-md-8">
                    <div class="well">
                        <table class="table table-striped">
                            <tr>
                                <td>ID</td>
                                <td>
                                <span th:fragment="tw-data-view-id">
                                    <span class="tw-vector">
                                        <a href="" th:href="@{|/kandidat/${kandidat.id}/|}">
                                        <i class="fa fa-database" aria-hidden="true"></i>
                                        <span th:text="${kandidat.id}">id</span>
                                        </a>
                                    </span>
                                </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>
                                    <a href="" th:href="@{|/kandidat/${kandidat.id}/|}">
                                        <span th:if="${kandidat.titel}" th:text="${kandidat.titel}">titel</span>
                                        <span th:if="${kandidat.namenszusatz}" th:text="${kandidat.namenszusatz}">namenszusatz</span>
                                        <span th:text="${kandidat.vorname}">vorname</span>
                                        <span th:text="${kandidat.nachname}">nachname</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Jahrgang</td>
                                <td>
                                    <span th:text="${kandidat.geburtsjahr}">geburtsjahr</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Geburtsort</td>
                                <td>
                                    <span th:if="${kandidat.geburtsort}" th:text="${kandidat.geburtsort.geburtsort}">geburtsort</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Wohnort</td>
                                <td>
                                    <span th:if="${kandidat.wohnort}" th:text="${kandidat.wohnort.wohnort}">wohnort</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Beruf</td>
                                <td>
                                    <span th:if="${kandidat.beruf}" th:text="${kandidat.beruf.beruf}">beruf</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Berufsgruppe</td>
                                <td>
                                    <span th:if="${kandidat.berufsgruppe}" th:text="${kandidat.berufsgruppe.berufsgruppe}">berufsgruppe</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Partei</td>
                                <td>
                                    <abbr th:if="${kandidat.partei}" th:attr="title=${kandidat.partei.parteiLang}" th:text="${kandidat.partei.partei}">partei</abbr>
                                </td>
                            </tr>
                            <tr th:if="${kandidat.listeBundeslandLand}">
                                <td>Liste Bundesland</td>
                                <td>
                                    <span th:text="${kandidat.listeBundeslandLand}">listeBundeslandLand</span>
                                </td>
                            </tr>
                            <tr th:if="${kandidat.listePartei}">
                                <td>Liste</td>
                                <td>
                                    <abbr th:if="${kandidat.listePartei}" th:attr="title=${kandidat.listePartei.listeParteiLang}" th:text="${kandidat.listePartei.listePartei}">listePartei</abbr>
                                </td>
                            </tr>
                            <tr th:if="${kandidat.mdb}">
                                <td>MdB</td>
                                <td>
                                    <span th:text="${kandidat.mdb}">mdb</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <img th:if="${kandidat.fotoUrl}"
                         th:src="${kandidat.fotoUrl}"
                         class="img-responsive img-thumbnail"/>
                </div>
            </div>
            <div class="row" th:if="${kandidat.lat}">
                <div class="col-md-12">
                    <div class="well">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:fragment="tw-footer">

    <script th:inline="text">
        function initMap() {
            var kandidat = {lat: [[${kandidat.lat}]], lng: [[${kandidat.lng}]]};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: kandidat
            });
            var marker = new google.maps.Marker({
                position: kandidat,
                map: map
            });
        }
    </script>
    <script th:attr="src=@{|https://maps.googleapis.com/maps/api/js?callback=initMap&amp;key=${googleMapsApiKey}|}" ></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="webjars/jquery/1.11.1/jquery.min.js" th:attr="src=@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:attr="src=@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!-- Map Icons -->
    <script src="map-icons/js/map-icons.min.js" th:attr="src=@{/map-icons/js/map-icons.min.js}"></script>
    <!-- my own JavaScript -->
    <script src="js/my.js" th:attr="src=@{/js/my.js}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-17174370-11', 'auto');
        ga('send', 'pageview');

    </script>
</footer>
</body>
</html>
