<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header" th:with="pageTitle=${pageTitle}"></header>

<main class="page-content">
    <div class="container">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <table class="table table-striped">
                            <thead th:fragment="tw-data-view-thead">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>m/w</th>
                                <th>Wohnort</th>
                                <th>Beruf</th>
                                <th>Partei</th>
                                <th>Bundesland</th>
                                <th>Liste</th>
                                <th>mdb</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                <span th:fragment="tw-data-view-id">
                                    <span class="tw-vector">
                                        <a href="" th:href="@{|/kandidat/${kandidat.id}/|}">
                                        <i class="fa fa-database" aria-hidden="true"></i>
                                        <span th:text="${kandidat.id}">id</span>
                                        </a>
                                    </span>
                                </span>
                                </td>
                                <td>
                                    <a href="" th:href="@{|/kandidat/${kandidat.id}/|}">
                                        <span th:if="${kandidat.titel}" th:text="${kandidat.titel}">titel</span><br th:if="${kandidat.titel}" />
                                        <span th:if="${kandidat.namenszusatz}" th:text="${kandidat.namenszusatz}">namenszusatz</span><br th:if="${kandidat.namenszusatz}" />
                                        <!--
                                        <span th:if="${kandidat.nachnameOhne}" th:text="${kandidat.nachnameOhne}">nachnameOhne</span><br th:if="${kandidat.nachnameOhne}"/>
                                        -->
                                        <span th:text="${kandidat.vorname}">vorname</span><br/>
                                        <span th:text="${kandidat.nachname}">nachname</span><br/>
                                    </a>
                                </td>
                                <td>
                                    <span th:text="${kandidat.geschlecht}">geschlecht</span>
                                </td>
                                <td>
                                    <span th:text="${kandidat.wohnort}">wohnort</span>
                                </td>
                                <td>
                                    <span th:text="${kandidat.beruf}">beruf</span>
                                </td>
                                <td>
                                    <abbr th:attr="title=${kandidat.parteiLang}" th:text="${kandidat.partei}">partei</abbr>
                                </td>
                                <td>
                                    <span th:text="${kandidat.listeBundeslandLand}">listeBundeslandLand</span>
                                </td>
                                <td>
                                    <abbr th:attr="title=${kandidat.listeParteiLang}" th:text="${kandidat.listePartei}">listePartei</abbr>
                                </td>
                                <td>
                                    <span th:text="${kandidat.mdb}">mdb</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="well">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:fragment="tw-footer">

    <script th:inline="text">
        function initMap() {
            var kandidat = {lat: [[${kandidat.lat}]], lng: [[${kandidat.lng}]]};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: kandidat
            });
            var marker = new google.maps.Marker({
                position: kandidat,
                map: map
            });
        }
    </script>
    <script th:attr="src=@{|https://maps.googleapis.com/maps/api/js?callback=initMap&amp;key=${googleMapsApiKey}|}" ></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="webjars/jquery/1.11.1/jquery.min.js" th:attr="src=@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:attr="src=@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!-- Map Icons -->
    <script src="map-icons/js/map-icons.min.js" th:attr="src=@{/map-icons/js/map-icons.min.js}"></script>
    <!-- my own JavaScript -->
    <script src="js/my.js" th:attr="src=@{/js/my.js}"></script>
</footer>
</body>
</html>
