<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header" >
</header>

<main class="page-content">
    <div class="tw-page-content tw-page-content-exceptions">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Application Error, please contact <a href="/imprint" th:href="@{/imprint}"> Support</a>.</h2>
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="tw-kandidat-page-heading">
                            <h3 class="panel-title">Debug Information:</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Requested URL=</div>
                            <div class="col-md-6">
                                <span th:text="${pageContent.pagerUrl}">url</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Exception=</div>
                            <div class="col-md-6">
                                <span th:text="${exception.message}">exception.message</span>
                            </div>
                        </div>
                        <div class="row tw-debug-off">
                            <div class="col-md-12">
                                <strong>Exception Stack Trace</strong><br/>
                                <ul th:each="e : ${exception.suppressed}">
                                    <span th:text="${e.message}">e.message</span>
                                    <ul th:each="stack : ${e.stackTrace}">
                                        <li th:text="${stack">stack</li>
                                    </ul>
                                </ul>
                                <ul th:each="ste : ${exception.stackTrace}">
                                    <li th:text="${ste}">ste</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<script>
    function initMap() {}
</script>
<div th:include="layoutMain :: tw-footer">
</div>
</body>
</html>

