<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.woehlke.btw17.kandidaten.oodm.model.listener" level="WARN" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.model.parts" level="WARN" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.model" level="WARN" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.model.bundestag" level="DEBUG" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.model.bundestag.xml" level="DEBUG" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.model.bundeswahlleiter" level="DEBUG" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.repositories" level="WARN" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.repositories.impl" level="WARN" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.service" level="WARN" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.service.impl" level="WARN" />
    <logger name="org.woehlke.btw17.kandidaten.frontend.content" level="INFO" />
    <logger name="org.woehlke.btw17.kandidaten.frontend.controller.anonymoususer.data" level="INFO" />
    <logger name="org.woehlke.btw17.kandidaten.frontend.controller.anonymoususer.pages" level="INFO" />
    <logger name="org.woehlke.btw17.kandidaten.frontend.controller.anonymoususer.suche" level="INFO" />
    <logger name="org.woehlke.btw17.kandidaten.frontend.controller.common" level="INFO" />
    <logger name="org.woehlke.btw17.kandidaten.frontend.controller.redaktion.data" level="INFO" />
    <logger name="org.woehlke.btw17.kandidaten.frontend.controller.redaktion.reports" level="INFO" />
    <logger name="org.woehlke.btw17.kandidaten.frontend.controller.useraccess.pages" level="INFO" />
    <logger name="org.woehlke.btw17.kandidaten.frontend.errorhandling" level="INFO" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.bundestag.enrich" level="DEBUG" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.bundestag.file2db" level="DEBUG" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.bundeswahlleiter.file2db" level="DEBUG" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.bundeswahlleiter.service" level="DEBUG" />
    <logger name="org.woehlke.btw17.kandidaten.oodm.bundeswahlleiter.enrich" level="DEBUG" />

    <logger name="org.apache.http" level="WARN" />
    <logger name="org.apache.tomcat" level="WARN" />
    <logger name="javax.persistence" level="WARN" />
    <logger name="org.springframework.data.jpa.repository.query" level="ERROR" />
    <logger name="org.hibernate.orm.deprecation" level="ERROR" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="org.hibernate.SQL" level="WARN" />
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="org.woehlke.btw17.kandidaten" level="DEBUG" />
    <root level="WARN"></root>
</configuration>

