<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="tw-kandidat-page-heading">
                        <h3 class="panel-title">Partei</h3>
                    </div>
                    <div class="panel-body">

                        <span th:if="${partei.webseite != null}">
                            <span th:if="${partei.webseite.webseite != null}">
                                <a class="tw-social-media-link" th:href="${partei.webseite.webseite}" alt="Webseite" title="Webseite" target="_blank">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                </a>
                            </span>
                        </span>

                        <span th:if="${partei.onlineStrategie}">

                            <span th:if="${partei.onlineStrategie.twitter != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.twitter}" alt="Twitter" title="Twitter" target="_blank">
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.facebook != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.facebook}" alt="Facebook" title="Facebook" target="_blank">
                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.youtube != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.youtube}" alt="YouTube" title="YouTube" target="_blank">
                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.soundcloud != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.soundcloud}" alt="Soundcloud" title="Soundcloud" target="_blank">
                                    <i class="fa fa-soundcloud" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.wikipediaArticle != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.wikipediaArticle}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                    <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.bundestagAbgeordnete != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.bundestagAbgeordnete}" alt="Bundestag" title="Bundestag" target="_blank">
                                    <i class="fa fa-university" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.abgeordnetenwatch != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.abgeordnetenwatch}" alt="Abgeordnetenwatch" title="Abgeordnetenwatch" target="_blank">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.lobbypediaUrl}" >
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.lobbypediaUrl}" alt="Lobbypedia" title="Lobbypedia" target="_blank">
                                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.googlePlus != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.googlePlus}" alt="GooglePlus" title="GooglePlus" target="_blank">
                                    <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.instagram != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.instagram}" alt="Instagram" title="Instagram" target="_blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.flickr != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.flickr}" alt="flickr" title="flickr" target="_blank">
                                    <i class="fa fa-flickr" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span th:if="${partei.onlineStrategie.vimeo != null}">
                                <a class="tw-social-media-link" th:href="${partei.onlineStrategie.vimeo}" alt="vimeo" title="vimeo" target="_blank">
                                    <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                                </a>
                            </span>

                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <div th:include="layoutMain :: tw-page-content-kandidaten">
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>


<script>
    function initMap() {}
</script>
<div th:include="layoutMain :: tw-footer">
</div>
</body>
</html>