<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="tw-kandidat-page-heading">
                        <h3 class="panel-title">Ministerium</h3>
                    </div>
                    <div class="row panel-body">
                        <div class="col-md-3">
                            <span th:if="${ministerium.commonFields}">
                                <img th:if="${ministerium.commonFields.logoUrl}"
                                     th:src="${ministerium.commonFields.logoUrl}"
                                     class="img-responsive img-thumbnail tw-facette-logo2"/>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td><span th:text="${ministerium.ministerium}"></span></td>
                                        <td><span th:text="${ministerium.ministeriumLang}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Bundesminister</td>
                                        <td>
                                            <span th:if="${ministerium.bundesminister == null}">
                                                <span th:text="${ministerium.bundesministerName}"></span>
                                            </span>
                                            <span th:if="${ministerium.bundesminister}">
                                                <a th:href="@{|/kandidat/${ministerium.bundesminister.id}|}">
                                                    <span th:text="${ministerium.bundesministerName}"></span>
                                                    <span>,&nbsp;</span>
                                                    <span th:text="${ministerium.bundesminister.partei.partei}"></span>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>

                                            <span th:if="${ministerium.webseite != null}">
                                                <span th:if="${ministerium.webseite.webseite != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.webseite.webseite}" alt="Webseite" title="Webseite" target="_blank">
                                                        <i class="fa fa-link" aria-hidden="true"></i>
                                                    </a>
                                                </span>
                                            </span>

                                            <span th:if="${ministerium.onlineStrategie}">

                                                <span th:if="${ministerium.onlineStrategie.twitter != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.twitter}" alt="Twitter" title="Twitter" target="_blank">
                                                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.facebook != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.facebook}" alt="Facebook" title="Facebook" target="_blank">
                                                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.youtube != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.youtube}" alt="YouTube" title="YouTube" target="_blank">
                                                        <i class="fa fa-youtube" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.soundcloud != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.soundcloud}" alt="Soundcloud" title="Soundcloud" target="_blank">
                                                        <i class="fa fa-soundcloud" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.wikipediaArticle != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.wikipediaArticle}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                                        <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.bundestagAbgeordnete != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.bundestagAbgeordnete}" alt="Bundestag" title="Bundestag" target="_blank">
                                                        <i class="fa fa-university" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.abgeordnetenwatch != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.abgeordnetenwatch}" alt="Abgeordnetenwatch" title="Abgeordnetenwatch" target="_blank">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.lobbypediaUrl}" >
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.lobbypediaUrl}" alt="Lobbypedia" title="Lobbypedia" target="_blank">
                                                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.lobbycontrol}" >
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.lobbycontrol}" alt="Lobbycontrol" title="Lobbycontrol" target="_blank">
                                                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.googlePlus != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.googlePlus}" alt="Google Plus" title="Google Plus" target="_blank">
                                                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.googleSuche != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.googleSuche}" alt="Google Suche" title="Google Suche" target="_blank">
                                                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.instagram != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.instagram}" alt="Instagram" title="Instagram" target="_blank">
                                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.flickr != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.flickr}" alt="flickr" title="flickr" target="_blank">
                                                        <i class="fa fa-flickr" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                                <span th:if="${ministerium.onlineStrategie.vimeo != null}">
                                                    <a class="tw-social-media-link" th:href="${ministerium.onlineStrategie.vimeo}" alt="vimeo" title="vimeo" target="_blank">
                                                        <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                                                    </a>
                                                </span>

                                            </span>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div id="map-ministerium"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <div th:include="layoutMain :: tw-page-content-kandidaten">
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>


<script th:inline="text" th:if="${ministerium.geoPosition}">
    function initMap() {
        var ministerium = {
            lat: [[${ministerium.geoPosition.geoLattitude}]],
            lng: [[${ministerium.geoPosition.geoLongitude}]]
        };
        var ministeriumMap = new google.maps.Map(document.getElementById('map-ministerium'), {
            zoom: [[${ministerium.geoPosition.geoZoom}]],
            center: ministerium
        });
        var ministeriumMarker = new google.maps.Marker({
            position: ministerium,
            map: ministeriumMap,
            title: '[[${ministerium.markerTitle}]]',
            label: '[[${ministerium.markerLabel}]]'
        });
    }
</script>
<div th:include="layoutMain :: tw-footer">
</div>
</body>
</html>