<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>

<main class="page-content">
    <div class="tw-page-content tw-page-content-listeparteien">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="tw-pager-arrow tw-pager-up" th:if="${listeparteien.hasPrevious()}">
                            <a href="" th:href="@{|${pageContent.pagerUrl}?page=${listeparteien.previousPageable().pageNumber}|}">
                                <span>
                                    <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                                </span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading" id="tw-kandidat-page-heading">
                                <h3 class="panel-title">ListePartei</h3>
                            </div>
                            <table class="table table-striped table-hover tw-kandidat-page">
                                <thead th:fragment="tw-data-view-thead">
                                    <tr>
                                        <!--
                                        <th>ID</th>
                                        -->
                                        <th>ListePartei</th>
                                        <th>ListeParteiLang</th>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;
                                        </td>
                                        <th>
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </th>
                                        <th>
                                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                        </th>
                                        <th>
                                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                        </th>
                                        <th>
                                            <i class="fa fa-youtube" aria-hidden="true"></i>
                                        </th>
                                        <th>
                                            <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="listepartei : ${listeparteien}">
                                        <td>
                                            <a href="" th:href="@{|/landesliste/listepartei/${listepartei.id}/|}">
                                                <span th:if="${listepartei.listePartei}" th:text="${listepartei.listePartei}">listePartei</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span th:text="${listepartei.listeParteiLang}">listeParteiLang</span>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td>
                                            <span th:if="${listepartei.webseite}">
                                                <a th:if="${listepartei.webseite.webseite}" th:href="${listepartei.webseite.webseite}" alt="Webseite" title="Webseite" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>
                                            <span th:if="${listepartei.onlineStrategie}">
                                                <a th:if="${listepartei.onlineStrategie.twitter}" th:href="${listepartei.onlineStrategie.twitter}" alt="Twitter" title="Twitter" target="_blank">
                                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>
                                            <span th:if="${listepartei.onlineStrategie}">
                                                <a th:if="${listepartei.onlineStrategie.facebook}" th:href="${listepartei.onlineStrategie.facebook}" alt="Facebook" title="Facebook" target="_blank">
                                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>
                                            <span th:if="${listepartei.onlineStrategie}">
                                                <a th:if="${listepartei.onlineStrategie.youtube}" th:href="${listepartei.onlineStrategie.youtube}" alt="YouTube" title="YouTube" target="_blank">
                                                    <i class="fa fa-youtube" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>
                                            <span th:if="${listepartei.onlineStrategie}">
                                                <a th:if="${listepartei.onlineStrategie.wikipediaArticle}" th:href="${listepartei.onlineStrategie.wikipediaArticle}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                                    <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="tw-pager-arrow tw-pager-down" th:if="${listeparteien.hasNext()}">
                            <a href="" th:href="@{|${pageContent.pagerUrl}?page=${listeparteien.nextPageable().pageNumber}|}" >
                                <span>
                                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<script>
    function initMap() {}
</script>
<div th:include="layoutMain :: tw-footer">
</div>
</body>
</html>