<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">

                    <span th:if="${listePartei.onlineStrategie}">

                    <a class="tw-social-media-link" th:if="${listePartei.onlineStrategie.webseite}" th:href="${listePartei.onlineStrategie.webseite}" alt="Webseite" title="Webseite" target="_blank">
                        <i class="fa fa-cloud" aria-hidden="true"></i>
                    </a>

                    <a class="tw-social-media-link" th:if="${listePartei.onlineStrategie.twitter}" th:href="${listePartei.onlineStrategie.twitter}" alt="Twitter" title="Twitter" target="_blank">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>

                    <a class="tw-social-media-link" th:if="${listePartei.onlineStrategie.facebook}" th:href="${listePartei.onlineStrategie.facebook}" alt="Facebook" title="Facebook" target="_blank">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>

                    <a class="tw-social-media-link" th:if="${listePartei.onlineStrategie.youtube}" th:href="${listePartei.onlineStrategie.youtube}" alt="YouTube" title="YouTube" target="_blank">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>

                    <a class="tw-social-media-link" th:if="${listePartei.onlineStrategie.wikipediaArticle}" th:href="${listePartei.onlineStrategie.wikipediaArticle}" alt="Wikipedia" title="Wikipedia" target="_blank">
                        <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                    </a>

                    </span>

                </div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <div class="tw-page-content tw-page-content-landesliste-listepartei">
        <div class="container" th:fragment="tw-page-content-bundeslaender">
            <div class="row">
                <div class="col-md-12">
                    <span  class="tw-pager-arrow tw-pager-up" th:if="${landeslistePage.hasPrevious()}">
                        <a href="" th:href="@{|${pageContent.pagerUrl}?page=${landeslistePage.previousPageable().pageNumber}|}">
                            <span>
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <table class="table table-striped">
                            <thead th:fragment="tw-data-view-thead">
                            <tr>
                                <th>ID</th>
                                <th>landesliste</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="landesliste : ${landeslistePage}">
                                <td>
                                        <span th:fragment="tw-data-view-id">
                                            <span class="tw-vector">
                                                <a href="" th:href="@{|/${bundeslandIdTarget}/${landesliste.id}/|}">
                                                <i class="fa fa-database" aria-hidden="true"></i>
                                                <span th:text="${landesliste.id}">id</span>
                                                </a>
                                            </span>
                                        </span>
                                </td>
                                <td>
                                    <a href="" th:href="@{|/${bundeslandIdTarget}/${landesliste.id}/|}">
                                        <span th:text="${landesliste.name}">landesliste.name</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <span class="tw-pager-arrow tw-pager-down" th:if="${landeslistePage.hasNext()}">
                    <a href="" th:href="@{|${pageContent.pagerUrl}?page=${landeslistePage.nextPageable().pageNumber}|}" >
                        <span>
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >
</footer>
</body>
</html>