<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<script th:include="layoutMain :: tw-seo-fb"></script>
<header th:include="layoutMain :: tw-header"></header>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">

                    <span th:if="${listePartei.onlineStrategie}">

                        <span th:if="${listePartei.onlineStrategie.webseite != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.webseite}" alt="Webseite" title="Webseite" target="_blank">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </span>s

                        <span th:if="${listePartei.onlineStrategie.twitter != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.twitter}" alt="Twitter" title="Twitter" target="_blank">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.facebook != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.facebook}" alt="Facebook" title="Facebook" target="_blank">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.youtube != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.youtube}" alt="YouTube" title="YouTube" target="_blank">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.soundcloud != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.soundcloud}" alt="Soundcloud" title="Soundcloud" target="_blank">
                                <i class="fa fa-soundcloud" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.wikipediaArticle != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.wikipediaArticle}" alt="Wikipedia" title="Wikipedia" target="_blank">
                                <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.bundestagAbgeordnete != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.bundestagAbgeordnete}" alt="Bundestag" title="Bundestag" target="_blank">
                                <i class="fa fa-university" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.abgeordnetenwatch != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.abgeordnetenwatch}" alt="Abgeordnetenwatch" title="Abgeordnetenwatch" target="_blank">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.lobbypediaUrl}" >
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.lobbypediaUrl}" alt="Lobbypedia" title="Lobbypedia" target="_blank">
                                <i class="fa fa-balance-scale" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.googlePlus != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.googlePlus}" alt="GooglePlus" title="GooglePlus" target="_blank">
                                <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.instagram != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.instagram}" alt="Instagram" title="Instagram" target="_blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.flickr != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.flickr}" alt="flickr" title="flickr" target="_blank">
                                <i class="fa fa-flickr" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.vimeo != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.vimeo}" alt="vimeo" title="vimeo" target="_blank">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.xing != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.xing}" alt="xing" title="xing" target="_blank">
                                <i class="fa fa-xing-square" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.linkedIn != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.linkedIn}" alt="linkedIn" title="linkedIn" target="_blank">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.stackoverflow != null}">
                            <a class="tw-social-media-link" th:href="${listePartei.onlineStrategie.stackoverflow}" alt="stackoverflow" title="stackoverflow" target="_blank">
                                <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                            </a>
                        </span>

                        <span th:if="${listePartei.onlineStrategie.github != null}">
                            <a class="tw-social-media-link" th:href="${bundeslandss.onlineStrategie.github}" alt="github" title="github" target="_blank">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </span>

                    </span>

                </div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <div th:include="layoutMain :: tw-page-content-kandidaten">
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<script>
    function initMap() {}
</script>
<div th:include="layoutMain :: tw-footer">
</div>
</body>
</html>